{% extends "base.html.twig" %}

{% block title %}Les armes de Planetside 2
{% endblock %}

{% block body %}

	<h1 class="text-center my-5">Les armes de Planetside 2</h1>

	<div class="container">
		<div class="row">

			{% for subTag in subTags %}
				<div class="card bg-dark border-0 col-3 mb-3">
					<p class="text-center mb-1"><img class="mx-auto" src="{{asset('images/' ~ subTag.icone)}}" alt="Image de {{subTag.nom}}"></p>
					<p class="text-center mb-1">
						<a class="stretched-link" href="{{path('subArmes', {slug: subTag.nom})}}">{{subTag.nom}}</a>
					</p>
						<p class="text-center">
                            {% for classe in subTag.classes %}
                            <img class="logo-classe" src="{{asset('images/' ~ classe)}}" alt="(Toutes les classes)">
                            {% endfor %}
						</p>
				</div>
			{% endfor %}

		</div>
		<!-- fin de la row -->
	</div>
	<!-- fin du container -->

{% endblock %}
